.sideBar {
  flex: 0 0 320px;
  background-color: #D6D8D8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.randomButton {
  height: 60px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}