@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Serif Pro',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* GLOBAL VARS */

:root {
  --primary-color: #363C3C;
}