@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

* {
  margin: 0;
  padding: 0px;
  font-family: 'Source Serif Pro';
  font-size: 24px;
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

p {
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

li {
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

/* GLOBAL VARS */

:root {
  --primary-color: #363C3C;
  --side-bar-width: 320px;
  --nav-bar-height: 100px;
}